/busses_work/*.slxc
/busses_work/busDemo_ert_rtw
/busses_work/busDemo_grt_rtw
/busses_work/demo_timeTwo_grt_rtw
/busses_work/slprj
/busses_work/*.exe
/busses_work/*.pdf
/busses_work/*.mexw64
/tlc_work/slprj
/tlc_work/demo_timeTwo_grt_rtw
/tlc_work/*.exe
/tlc_work/*.slxc
/tlc_work/*.mexw64
/timestwo/model1_grt_rtw
/timestwo/slprj
/timestwo/*.exe
/timestwo/*.slxc
/timestwo/*.mexw64
/timestwo/sfbuilder_bus_Outputs_wrapper.c
/timestwo/sfbuilder_bus_Outputs_wrapper.tlc
/timestwo/sfbuilder_bus_Outputs_wrapper_wrapper.c
/busses_work/mex_functions
